<div class="container">
    <div class="row">
        <div class="col">
            <h6 class="text-danger">Gastos</h6>
            <ul class="list-group">
                <li class="list-group-item"
                    *ngFor="let gasto of gastos; let i = index"
                >
                <div class="row">
                    <div class="col-6">
                        {{gasto.descripcion}}
                    </div>
                    <div class="col-4">
                        {{gasto.valor}}€
                    </div>
                    <div class="col-2">
                        <div class="bg-danger p-1">{{((gasto.valor /gastoTotal) * 100 ).toFixed(0)}}%</div>
                    </div>
                </div> 
                </li>
            </ul>
        </div>
    </div>
</div>