<div class="container-fluid">
  <div class="row bg-light">
    <div class="col-2">
    </div>
    <div class="col-8">
        <div class="row">
            <div class="col-2">
                <select class="form-select" aria-label="Default select example"
                  [(ngModel)]="tipoIngreso" [ngStyle]="{'border-color':tipoIngreso == 1 ? 'green' : 'red' }">
                >
                  <option value="1">+</option>
                  <option value="2">-</option>
                </select>
              </div>
              <div class="col-5">
                <input
                  type="text"
                  class="form-control"
                  id="floatingInput"
                  placeholder="Agregar Descripción"
                  [(ngModel)]="descripcion" 
                />
              </div>
              <div class="col-3">
                <input
                  type="number"
                  class="form-control"
                  id="floatingInput"
                  placeholder="Valor"
                  [(ngModel)]="valor"
                />
            </div>

            <div class="col-2">
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary"
                  (click)="agregarInporte()"
                >Agregar</button>
            </div>
          </div>
        </div>
    </div>
    
    <div class="col-2">
    </div>
  </div>
</div>
